#header {
	height: 100px;
	line-height: 100px;
	width: 100%;
	position: absolute;
	z-index: 5;
	top: 0;
	text-align: center;
	font-family: Microsoft YaHei, Verdana, Arial, SimSun;
}

.logo {
	line-height: 80px;
	font-size: 30px;
	color: #fff;
	letter-spacing: 3px;
	margin-left: 50px;
	float: left;
}

.navigation {
	float: right;
	margin: 5px 50px 0 0;
	color: #fff;
	font-size: 14px;
}

.navigation ul li {
	height: 30px;
	line-height: 30px;
	text-align: center;
	float: left;
	margin-left: 15px;
}

.navigation ul li a {
	color: #fff;
}

.navigation ul li a:hover {
	color: #32323a;
}